In [1]:
import pandas as pd
import numpy as np

In [4]:
df1=pd.read_excel('Athletes.xlsx')
df2=pd.read_excel('Coaches.xlsx')
df3=pd.read_excel('EntriesGender.xlsx')
df4=pd.read_excel('Medals.xlsx')
df5=pd.read_excel('Teams.xlsx')

C:\Users\SOUMITRA\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
df1

                        Name      NOC           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

In [4]:
link1='https://en.wikipedia.org/wiki/2020_Summer_Olympics'
df2 = pd.read_html(link1, header=0)[3]

In [5]:
df2

,2020 Summer Olympic Sports Programme,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Aquatics Artistic swimming (2) Diving (8) M...,NaN,NaN,NaN
1,Aquatics Artistic swimming (2) Diving (8) M...,Boxing (13) Canoeing Slalom (4) Sprint (12) ...,Football (2) Golf (2) Gymnastics Artistic (1...,Shooting (15) Skateboarding (4) Sport climbi...